<!DOCTYPE html>
<html>
<head>
  <title>订单模块</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h2>订单模块功能</h2>
    <ul>
      <li><a href="/order/create-inquiry">创建询价</a></li>
      <li><a href="/order/edit-inquiry">修改询价</a></li>
      <li><a href="/order/query-inquiry">查询询价</a></li>
      <li><a href="/order/create-quote">创建报价</a></li>
      <li><a href="/order/edit-quote">修改报价</a></li>
      <li><a href="/order/query-quote">查询报价</a></li>
      <li><a href="/order/create-order">创建订单</a></li>
      <li><a href="/order/edit-order">修改订单</a></li>
      <li><a href="/order/query-order">查询订单</a></li>
    </ul>
  </div>
</body>
</html>
